table {
    border-collapse: collapse;
    margin-bottom: 15px;
    background: rgba(0,0,0, .8);
    padding-left: 5px;
}
td {
    border-bottom: 1px solid #00FCDA;
    border-right: 1px solid #00FCDA;
    padding-left: 5px;
    padding-right: 5px;
}
tr td:first-child {
    border-left: 1px solid #00FCDA;    
}
tr th:first-child {
    border-left: 1px solid #00FCDA;    
}
th {
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #00FCDA;
    border-top: 1px solid #00FCDA;
    border-right: 1px solid #00FCDA;
}
.holder {
    background: rgba(0,0,0, .8);
    padding: 4px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://sun9-81.userapi.com/impg/IkLsHIkYFHwtkBrR5uEchz1dbdSjgOTysENoSA/QuksCdEy4N4.jpg?size=720x1080&quality=96&sign=b8a603eb9673ce2d6ba4ef46246b1038&type=album');
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size:16px;
    color: #00FCDA;
}
.butt {
    display: flex;
    justify-content: center;
    padding: 1%;
    margin: 2px;
    width: 100%;
}
.butt2 {
    margin: 3px;
}
button {
    background: black;
    border: 0.1vw solid #00FCDA;
    font-weight: 600;
    font-size: 14px;
    font-style: italic;
    color: #00FCDA;
}
button:active { background: rgb(33, 33, 33); }